fastapi
uvicorn[standard]
sqlalchemy==1.4.49
psycopg2-binary
python-dotenv
pydantic
cryptography
redis
requests
streamlit
python-jose[cryptography]
passlib[bcrypt]
email-validator
google-generativeai
